In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/netflix_titles.csv")

In [ ]:
df.shape

(8807, 12)

In [ ]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8045,s8046,Movie,SMOSH: The Movie,Alex Winter,"Ian Hecox, Anthony Padilla, Jenna Marbles, Gra...",United States,"September 22, 2015",2015,PG-13,83 min,Comedies,To keep his teen crush from spotting him in an...
4117,s4118,Movie,Period. End of Sentence.,Rayka Zehtabchi,NaN,United States,"February 12, 2019",2018,TV-PG,26 min,Documentaries,"In rural India, where the stigma of menstruati..."
2086,s2087,TV Show,Masaba Masaba,NaN,"Masaba Gupta, Neena Gupta, Neil Bhoopalam, Ryt...",India,"August 28, 2020",2020,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",Real life mom-daughter duo Neena and Masaba Gu...
2674,s2675,Movie,Alelí,Leticia Jorge Romero,"Néstor Guzzini, Mirella Pascual, Cristina Morá...","Uruguay, Argentina","April 16, 2020",2019,TV-MA,88 min,"Comedies, Dramas, International Movies","Mourning their father's death, a dysfunctional..."
8183,s8184,Movie,The Adventures of Sharkboy and Lavagirl,Robert Rodriguez,"Taylor Lautner, Taylor Dooley, Cayden Boyd, Ge...",United States,"December 2, 2020",2005,PG,93 min,Children & Family Movies,A 10-year-old dreamer's imaginary friends – mi...

In [ ]:
df.drop(['show_id', 'description'], axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [ ]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [ ]:
df['country'].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [ ]:
df['country']=df['country'].fillna(df['country'].mode()[0])

In [ ]:
df['country'].isna().sum()

0

In [ ]:
df['date_added']=df['date_added'].fillna(df['date_added'].mode()[0])

In [ ]:
df['date_added'].isna().sum()

0

In [ ]:
df['rating']=df['rating'].fillna(df['rating'].mode()[0])

In [ ]:
df['duration']=df['duration'].fillna(df['duration'].mode()[0])

In [ ]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
dtype: int64

In [ ]:
df['director']=df['director'].fillna("Not Mentioned")

In [ ]:
df['director'].isna().sum()

0

In [ ]:
df['cast']=df['cast'].fillna("Not Mentioned")

In [ ]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [ ]:
df['title'].unique()

array(['Dick Johnson Is Dead', 'Blood & Water', 'Ganglands', ...,
       'Zombieland', 'Zoom', 'Zubaan'], dtype=object)

In [ ]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
df=df[~df['rating'].str.contains('min')]

In [ ]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
df['date_added']

0       September 25, 2021
1       September 24, 2021
2       September 24, 2021
3       September 24, 2021
4       September 24, 2021
               ...
8802     November 20, 2019
8803          July 1, 2019
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
Name: date_added, Length: 8804, dtype: object

In [ ]:
df['date_added']=df['date_added'].str.replace(",","")

In [ ]:
df['date_added']

0       September 25 2021
1       September 24 2021
2       September 24 2021
3       September 24 2021
4       September 24 2021
              ...
8802     November 20 2019
8803          July 1 2019
8804      November 1 2019
8805      January 11 2020
8806         March 2 2019
Name: date_added, Length: 8804, dtype: object

In [ ]:
df['date_added']=pd.to_datetime(df['date_added'],format='mixed')

In [ ]:
df['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8804, dtype: datetime64[ns]

In [ ]:
df['year']=df['date_added'].dt.year

In [ ]:
df['month']=df['date_added'].dt.month

In [ ]:
df['day']=df['date_added'].dt.day

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8804 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8804 non-null   object
 1   title         8804 non-null   object
 2   director      8804 non-null   object
 3   cast          8804 non-null   object
 4   country       8804 non-null   object
 5   date_added    8804 non-null   datetime64[ns]
 6   release_year  8804 non-null   int64
 7   rating        8804 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8804 non-null   object
 10  year          8804 non-null   int32
 11  month         8804 non-null   int32
 12  day           8804 non-null   int32
dtypes: datetime64[ns](1), int32(3), int64(1), object(8)
memory usage: 859.8+ KB

In [ ]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
5063,TV Show,The Adventures of Puss in Boots,Not Mentioned,"Eric Bauza, Jayma Mays, Grey DeLisle, Paul Rug...",United States,2018-01-26,2018,TV-Y7,6 Seasons,"Kids' TV, TV Comedies",2018,1,26
3386,Movie,Dancing with the Birds,Huw Cordey,Stephen Fry,United States,2019-10-23,2019,TV-PG,52 min,Documentaries,2019,10,23
4449,Movie,Life in a ... Metro,Anurag Basu,"Dharmendra, Irrfan Khan, Konkona Sen Sharma, K...",India,2018-11-01,2007,TV-14,126 min,"Dramas, International Movies, Music & Musicals",2018,11,1
358,Movie,The Net,Irwin Winkler,"Sandra Bullock, Jeremy Northam, Dennis Miller,...",United States,2021-08-01,1995,PG-13,114 min,Thrillers,2021,8,1
3198,Movie,Qismat,Jagdeep Sidhu,"Ammy Virk, Sargun Mehta, Guggu Gill, Tania, Ha...",India,2019-12-01,2018,TV-PG,137 min,"Dramas, International Movies, Romantic Movies",2019,12,1

In [ ]:
df['genre']=df['listed_in'].str.split(",").str[0]

In [ ]:
df['genre']

0                  Documentaries
1         International TV Shows
2                 Crime TV Shows
3                     Docuseries
4         International TV Shows
                  ...
8802                 Cult Movies
8803                    Kids' TV
8804                    Comedies
8805    Children & Family Movies
8806                      Dramas
Name: genre, Length: 8804, dtype: object

In [ ]:
df['cast'].unique()

array(['Not Mentioned',
       'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng',
       'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera',
       ...,
       'Jesse Eisenberg, Woody Harrelson, Emma Stone, Abigail Breslin, Amber Heard, Bill Murray, Derek Graf',
       'Tim Allen, Courteney Cox, Chevy Chase, Kate Mara, Ryan Newman, Michael Cassidy, Spencer Breslin, Rip Torn, Kevin Zegers',
       'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'],
      dtype=object)

In [ ]:
df=df[df['cast']!='Not Mentioned']

In [ ]:
df['lead_actor']=df['cast'].str.split(",").str[0]

In [ ]:
df['lead_actor']

1            Ama Qamata
2         Sami Bouajila
4            Mayur More
5           Kate Siegel
6       Vanessa Hudgens
             ...
8801        Ali Suliman
8802       Mark Ruffalo
8804    Jesse Eisenberg
8805          Tim Allen
8806      Vicky Kaushal
Name: lead_actor, Length: 7979, dtype: object

In [ ]:
df['lead_actor'].unique()

array(['Ama Qamata', 'Sami Bouajila', 'Mayur More', ..., 'Gökhan Atalay',
       'Michael Johnston', 'Sanam Saeed'], dtype=object)

In [ ]:
df.sample()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
984,Movie,Kara Bela,Burak Aksak,"Cengiz Bozkurt, Seda Bakan, Erkan Kolçak Köste...",Turkey,2021-04-23,2015,TV-MA,101 min,"Comedies, International Movies",2021,4,23,Comedies,Cengiz Bozkurt

In [ ]:
df.drop(['cast','date_added','date_added'], axis=1, inplace=True)

In [ ]:
df.sample()

,type,title,director,country,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
4641,Movie,The Angel,Ariel Vromen,"Israel, United States",2018,TV-MA,114 min,"Dramas, International Movies, Thrillers",2018,9,14,Dramas,Marwan Kenzari

In [ ]:
df.to_csv("Cleaned_Netflix_Data.csv")